.search-container {
  position: relative;
  width: 100%;
}

.search-container input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
}

.search-results {
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0.25rem;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.search-results li {
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f3f4f6;
}   

.add-new-item {
  font-weight: bold;
  color: #166534; /* Dark Green */
  background-color: #f0fdf4;